*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

ul, li{
    list-style: none;
}

.header{
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    box-shadow: 0 4px 8px rgb(92, 92, 92);
    font-size: 1.5rem;
}

.header .upper{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.userheader{
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    flex: 0 1 auto;
    align-items: center;
    font-weight: bold;
}

.search{
    display: flex;
    padding: 0;
}

#searchbar{
    width: 500px;
    height: 2em;
    border-radius: 2em;
    border: 1.5px solid rgb(153, 153, 153);
    background-color: rgba(212, 213, 228, 0.616);
}

#profilepicture1{
    width: 2em;
    height: 2em;
    border-radius: 50%;;
}

#profilepicture2{
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

.lower{
    display: flex;
    justify-content: space-between;
}

.lowerleft{
    margin-left: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.lowerleft span{
    font-size: 0.7em;
}

#profilepicture{
    grid-row: 1 / -1;
}

.lowerright{
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: rgb(126, 130, 177);
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 20px;
}

.sidebar .dashboard{
    align-items: start;
    margin-bottom: 3rem;
}

.sidebar .upperdashboard{
    margin-bottom: 3rem;
}

.sidebar p{
    display: flex;
    font-size: 2rem;
    align-items: center;
}

img{
    width: 1em;
    height: 1em;
    margin-right: 8px;
}

.sidebar ul li{
    padding: 15px;
    display: flex;
    align-items: center;
}

.main-content{
    display: grid;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: rgba(202, 205, 231, 0.301);
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.projects{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.projects > div{
    aspect-ratio: 1.5 / 1;
    border: 2px solid rgba(255, 0, 0, 0.356)
}

.trending{
    grid-row: 2;
    grid-column: 2;
}