@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans.woff2') format('woff2'),
        url('fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}


:root {
    --white-filter: invert(99%) sepia(15%) saturate(272%) hue-rotate(38deg) brightness(102%) contrast(92%);
}

li img, p img{
    filter: var(--white-filter);
}